:root {
  --color-white: #e9e9e9;
  --color-white-lighten: #ffffff;
  --color-black: #000;
  --color-main: #7952b3;
  --font-stack: "Roboto", sans-serif;
  --font-weight-default: 400; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 100%; }

body {
  box-sizing: border-box;
  font-family: var(--font-stack);
  font-weight: var(--font-weight-default);
  color: var(--color-white); }

.navbar {
  position: static;
  top: 0;
  left: 0;
  background-color: var(--color-main);
  min-height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .navbar__left {
    display: flex;
    align-items: center;
    margin-left: 2rem; }
  .navbar__initials {
    font-size: 2.2rem;
    font-weight: 900;
    font-style: italic; }
  .navbar__list {
    list-style: none;
    display: flex; }
  .navbar__item {
    margin: 0 0.5rem;
    padding: 0.5rem 0; }
  .navbar__link:link, .navbar__link:visited {
    color: var(--color-white);
    text-decoration: none;
    font-weight: 400;
    font-size: 1rem;
    transition: color 0.2s; }
  .navbar__link:hover {
    color: var(--color-white-lighten); }
