@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,700;1,300&display=swap");

:root {
  --color-primary: #eeeeee;
  --color-primary-alpha: #eeeeee91;
  --color-secondary: #00579e;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--color-primary);
  background-color: var(--color-secondary);
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.section-header {
  margin: 2rem 0;
}

.section-main {
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  font-style: normal;
}

p {
  font-size: 1rem;
  font-weight: 300;
  font-style: italic;
  text-align: center;
}

.input-group {
  margin: 0 0 1rem 0;
}

.flex-group {
  display: flex;
  justify-content: space-between;
}

form label,
form p {
  font-weight: 300;
  font-style: normal;
  font-size: 1.25rem;
  text-align: start;
}
.clue {
  color: var(--color-primary-alpha);
}

form input,
form select {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
}

form input:focus,
form select:focus {
  outline: none;
}

.preference input {
  margin-right: 0.5rem;
  width: auto;
}
