// ------------------------------------------------------------
// VARIABLES
:root {
  --color-white: #e9e9e9;
  --color-white-lighten: #ffffff;
  --color-black: #000;
  --color-main: #7952b3;
  --color-supplementary: #ffe484;
  --color-background-light: #fcfcfc;
  --color-background-dark: #f0f0f0;

  --color-font-main: #212529;
  --color-font-light: #c9c9c9;
  --color-font-supplementary: #495057;

  --font-stack: "Roboto", sans-serif;
  --font-weight-default: 400;
}

// ------------------------------------------------------------
// BASE
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 100%;
}

body {
  box-sizing: border-box;
  font-family: var(--font-stack);
  font-weight: var(--font-weight-default);
  color: var(--color-white);
}

// ------------------------------------------------------------
// NAVBAR
.navbar {
  position: sticky;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: var(--color-main);
  min-height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__left {
    display: flex;
    align-items: center;
    margin-left: 2rem;
  }

  &__right {
    display: flex;
    align-items: center;
    margin-right: 2rem;
  }

  &__initials {
    font-size: 2.2rem;
    font-weight: 900;
    font-style: italic;
  }

  &__list {
    list-style: none;
    display: flex;
    align-items: center;
  }

  &__item {
    padding: 0.5rem 0;
    &--left {
      margin-left: 1rem;
    }
    &--right:not(:last-child) {
      margin-right: 1rem;
    }
  }

  &__link {
    &:link,
    &:visited {
      color: var(--color-white);
      text-decoration: none;
      font-weight: 400;
      font-size: 1rem;
      transition: color 0.2s;
    }

    &:hover {
      color: var(--color-white-lighten);
    }
  } //.navbar__link

  &__btn {
    display: inline-block;
    &:link,
    &:visited {
      padding: 0.5rem 1rem;
      text-decoration: none;
      font-weight: 500;
      color: var(--color-supplementary);
      border: 1px solid var(--color-supplementary);
      border-radius: 4px;
      transition: all 0.2s;
    }

    &:hover,
    &:active {
      background-color: var(--color-supplementary);
      color: var(--color-main);
      transform: translateY(-3px);
      box-shadow: 0.2rem 0.4rem 1rem rgba($color: #000000, $alpha: 0.4);
    }

    &:active {
      transform: translateY(-1px);
      box-shadow: 0.1rem 0.2rem 1rem rgba($color: #000000, $alpha: 0.2);
    }
  } //.navbar__btn
} //.navbar

// ------------------------------------------------------------
// WELCOME SECTION
.section-welcome {
  height: 100vh;
  background-image: url("../img/bg.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome__title {
  font-size: 4.5rem;
  font-weight: 200;
  text-align: center;
  color: var(--color-font-main);

  &--name {
    display: inline-block;
    padding: 0 0.25rem;
    font-style: italic;
    background-image: linear-gradient(
      120deg,
      transparent 0%,
      transparent 50%,
      var(--color-main) 50%
    );
    background-size: 220%;
    transition: all 0.5s;
    border-radius: 3px;

    &:hover {
      background-position: 100%;
      color: var(--color-white);
    }
  }
}

.welcome__subtitle {
  font-size: 2rem;
  font-weight: 200;
  text-align: center;
  color: var(--color-font-supplementary);
}

// ------------------------------------------------------------
// MODAL WINDOW
.overlay {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba($color: #000000, $alpha: 0.2);
  transition: all 0.3s;
  backdrop-filter: blur(2px);

  &.hidden {
    visibility: hidden;
    opacity: 0;
  }
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 101;
  max-width: 30rem;
  background-color: var(--color-white-lighten);
  border-radius: 5px;
  padding: 1rem 1.25rem;
}

.btn__close-modal {
  font-size: 1rem;
  color: var(--color-font-main);
  position: absolute;
  top: 8px;
  right: 10px;
}

.modal__title {
  color: var(--color-font-main);
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 1rem;

  &--small {
    font-size: 1rem;
  }
}

.modal__contact-form {
  position: relative;
  width: 100%;
  margin-bottom: 0.5rem;
  padding: 0.25rem 4rem 0.25rem 0.5rem;
  color: var(--color-font-main);
  background-color: var(--color-white);
  font-size: 1.25rem;
  font-weight: 400;
  border-radius: 4px;
}

.modal__contact-content {
  margin: 0 0.5rem;
}

.u-icon-right {
  color: var(--color-font-light);
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 0.5rem;
  transform: translateY(-50%);
}
