// ------------------------------------------------------------
// VARIABLES
:root {
  --color-white: #e9e9e9;
  --color-white-lighten: #ffffff;
  --color-black: #000;
  --color-main: #7952b3;
  --color-supplementary: #ffe484;

  --font-stack: "Roboto", sans-serif;
  --font-weight-default: 400;
}

// ------------------------------------------------------------
// BASE
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 100%;
}

body {
  box-sizing: border-box;
  font-family: var(--font-stack);
  font-weight: var(--font-weight-default);
  color: var(--color-white);
}

// ------------------------------------------------------------
// NAVBAR
.navbar {
  position: static;
  top: 0;
  left: 0;
  background-color: var(--color-main);
  min-height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__left {
    display: flex;
    align-items: center;
    margin-left: 2rem;
  }

  &__right {
    display: flex;
    align-items: center;
    margin-right: 2rem;
  }

  &__initials {
    font-size: 2.2rem;
    font-weight: 900;
    font-style: italic;
  }

  &__list {
    list-style: none;
    display: flex;
    align-items: center;
  }

  &__item {
    padding: 0.5rem 0;
    &--left {
      margin-left: 1rem;
    }
    &--right:not(:last-child) {
      margin-right: 1rem;
    }
  }

  &__link {
    &:link,
    &:visited {
      color: var(--color-white);
      text-decoration: none;
      font-weight: 400;
      font-size: 1rem;
      transition: color 0.2s;
    }

    &:hover {
      color: var(--color-white-lighten);
    }
  } //.navbar__link

  &__btn {
    display: inline-block;
    &:link,
    &:visited {
      padding: 0.5rem 1rem;
      text-decoration: none;
      font-weight: 500;
      color: var(--color-supplementary);
      border: 1px solid var(--color-supplementary);
      border-radius: 4px;
      transition: all 0.2s;
    }

    &:hover,
    &:active {
      background-color: var(--color-supplementary);
      color: var(--color-main);
      transform: translateY(-3px);
      box-shadow: 0.2rem 0.4rem 1rem rgba($color: #000000, $alpha: 0.4);
    }

    &:active {
      transform: translateY(-1px);
      box-shadow: 0.1rem 0.2rem 1rem rgba($color: #000000, $alpha: 0.2);
    }
  } //.navbar__btn
} //.navbar
