@media screen and (max-width: 887px) {
  /* Section - US                   */
  .us-sect-title {
    font-size: 1.4rem;
  }
  .us-sect-p {
    line-height: 1.4rem;
    font-size: .9rem;
  }
  .us-sect-link {
    font-size: 1rem;
  }
}
@media screen and (max-width: 676px) {
  /* Section - HEADER + NAV         */
  .nav-bar.hidden {
    display: none;
  }
  .nav-bar {
    align-self: stretch;
  }
  .nav-list {
    flex-direction: column;
    align-items: flex-end;
  }
  .nav-list-item {
    margin: 0.5em 0 0 0;
  }
  .nav-flex {
    flex-direction: column;
  }
  .nav-toggle {
    display: block;
  }

  /* Section - US                   */
  .us-sect {
    flex-direction: column;
    align-items: center;
  }
  .us-sect-text {
    flex: 1;
    margin-left: 0;
  }
  .us-sect-text#stick-right {
    margin: 0;
  }
  .us-sect-div-img {
    order: -1;
    flex: 1;
  }
  .us-sect-link {
    margin: 0 auto;
  }
  .align-right {
    text-align: left;
  }
  .float-right {
    float: left;
  }
}
