@media screen and (max-width: 676px) {
  .nav-bar.hidden {
    display: none;
  }
  .nav-bar {
    align-self: stretch;
  }
  .nav-list {
    
    flex-direction: column;
    align-items: flex-end;

  }
  .nav-list-item {
    margin: .5em 0 0 0;
  }
  .nav-flex {
    flex-direction: column;
  }
  .nav-toggle {
    display: block;
  }
}
