@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;1,300;1,700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
}

.section-header {
  color: white;
  background-color: #003d7a;
}

.logo-title {
  display: flex;
  align-items: center;
}

.img-logo {
  fill: white;
  margin-right: 0.5rem;
}

.section-header h1 {
  font-size: 700;
  font-style: italic;
}

.nav-flex {
  padding: 0.5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list-item {
  margin-left: 1.5rem;
  transition: transform 0.1s ease-in;
}

.nav-list-item:hover {
  transform: scale(1.05);
}

.nav-link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
}

.subscribe {
  margin: 3rem auto;
  width: fit-content;
}

.subscribe h2 {
  font-size: 1.5rem;
  font-weight: 700;
  font-style: normal;
}

.form-subscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-email {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  width: 100%;
  padding: 0.25rem;
}
.input-email:focus {
  outline: none;
}

.input-subscribe {
  margin-top: 0.5em;
  background-color: #003d7a;
  color: white;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  padding: 0.5em 1em;
  border: none;
  border-radius: 5px;
  transition: transform .2s linear;
}

.input-subscribe:hover {
  cursor: pointer;
  transform: scale(1.05);
}
