@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;1,300;1,700&display=swap");

:root {
  --color-main: #003d7a;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
.container {
  width: 90%;
  max-width: 1180px;
  margin: 0 auto;
}
.flex-container {
  display: flex;
}
.section-title {
  padding: 1em;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 500;
}
.span-main-color {
  color: var(--color-main);
}

/* ------------------------------ */
/* Section - HEADER + NAV         */
/* ------------------------------ */
.section-header {
  color: white;
  background-color: var(--color-main);
}
.logo-title {
  display: flex;
  align-items: center;
}
.img-logo {
  fill: white;
  margin-right: 0.5rem;
}
.section-header h1 {
  font-weight: 700;
  font-style: italic;
}
.nav-flex {
  padding: 0.5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.nav-list {
  list-style: none;
  display: flex;
}
.nav-list-item {
  margin-left: 1.5rem;
  transition: transform 0.1s ease-in;
}
.nav-list-item:hover {
  transform: scale(1.05);
}
.nav-link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1.25rem;
}
.nav-toggle {
  display: none;
  position: absolute;
  top: 2rem;
  right: 0;
  transform: translate(0, -50%);
  font-size: 1.5rem;
}
.nav-toggle:hover {
  cursor: pointer;
}

/* ------------------------------ */
/* Section - WELCOME              */
/* ------------------------------ */
#welcome {
  margin-top: 7rem;
}

.welcome-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.welcome-part-text {
  flex: 4;
}
.welcome-part-img {
  flex: 5;
}
.welcome-title {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 2.8rem;
  margin-bottom: 1.25rem;
}
.welcome-subtitle {
  font-weight: 300;
  font-size: 1.25rem;
  color: rgb(124, 124, 124);
  margin-bottom: 1.25rem;
}
.welcome-btn {
  display: inline-block;
  font-size: 1rem;
  padding: 0.75em 1.25em;
  text-decoration: none;
  border-radius: 5px;
  margin-right: 0.75rem;
  transition: transform 0.2s linear;
}
.welcome-btn:hover {
  transform: translateY(-5px);
  box-shadow: 2px 3px 10px rgb(219, 219, 219);
}
.welcome-btn.btn-plans {
  color: white;
  background-color: var(--color-main);
}
.welcome-btn.btn-about {
  color: var(--color-main);
  background-color: rgb(235, 232, 232);
}
.welcome-img {
  max-width: 100%;
  height: auto;
}

/* ------------------------------ */
/* Section - CALL TO ACTION       */
/* ------------------------------ */
.subscribe {
  margin: 3rem auto;
  display: inline-block;
}
.subscribe h2 {
  font-size: 1.5rem;
  font-weight: 700;
  font-style: normal;
  text-align: center;
}
.form-subscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input-email {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  width: 100%;
  padding: 0.25rem;
}
.input-email:focus {
  outline: none;
}
.input-subscribe {
  margin-top: 0.5em;
  background-color: var(--color-main);
  color: white;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  padding: 0.5em 1em;
  border: none;
  border-radius: 5px;
  transition: transform 0.2s linear;
}
.input-subscribe:hover {
  cursor: pointer;
  transform: scale(1.05);
}

/* ------------------------------ */
/* Section - ABOUT US             */
/* ------------------------------ */
#us {
  background-color: #cae4ff;
}
.us-sect {
  padding-bottom: 5rem;
  display: flex;
}
.us-sect-text {
  flex: 62 5 563px;
  margin-left: 1.5rem;
}
.us-sect-div-img {
  flex: 38 1 345px;
}
.us-sect-text#stick-right {
  margin-left: 0;
  margin-right: 1.5rem;
}
.us-sect-title {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 0.5rem;
}
.us-sect-p {
  line-height: 1.5rem;
  font-size: 1rem;
  font-weight: 300;
}
.us-sect-img {
  max-width: 100%;
  height: auto;
}
.us-sect-link {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  font-weight: 300;
  padding: 0.25em 0.75em;
  color: var(--color-main);
  text-decoration: none;
  border: 2px solid var(--color-main);
  border-radius: 5px;
  text-transform: uppercase;
  transition: all 0.2s ease-out;
}
.us-sect-link:hover {
  color: white;
  background-color: var(--color-main);
}
.align-right {
  text-align: right;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
