@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,500&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 100%;
  font-weight: 400; }

.body-flex {
  display: flex; }

.navbar {
  background-color: #f5f5f5;
  min-width: 290px;
  height: 100vh; }
  .navbar-header {
    padding: 0.75rem;
    display: flex;
    align-items: center; }
  .navbar-header-text {
    margin-left: 0.5rem; }
  .navbar-title {
    font-weight: 700;
    font-size: 2rem; }
  .navbar-subtitle {
    font-weight: 300;
    font-style: italic;
    font-size: 1rem; }
  .navbar-list-item {
    padding: 0.25rem 0.75rem; }

.nav-link:link, .nav-link:visited {
  display: block;
  text-decoration: none;
  color: black;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.1rem;
  transition: transform 0.1s ease-in; }

.nav-link:hover {
  transform: translateX(10px); }

.nav-link.active {
  position: relative;
  transform: translateX(10px); }
  .nav-link.active::before {
    position: absolute;
    content: "";
    width: 5px;
    height: 1.1rem;
    background-color: #f0db4f;
    top: 2px;
    left: -10px; }

.main {
  max-height: 100vh;
  overflow-y: scroll; }
  .main-section {
    margin: 1rem auto;
    width: 90%; }
    .main-section-header {
      padding: 1rem 0; }
    .main-section-title {
      font-size: 2rem;
      font-weight: 400;
      letter-spacing: 0.5px; }
  .main-article {
    margin-left: 1.1rem; }
    .main-article-text {
      font-size: 1.1rem;
      line-height: 1.5;
      font-weight: 300;
      margin-bottom: 1.1rem; }
    .main-article-code {
      padding: 1.1rem;
      margin-bottom: 1.1rem;
      display: block;
      background-color: #e6e6e6;
      font-size: 1rem;
      border-radius: 10px 0 10px 0;
      position: relative; }
      .main-article-code::before {
        content: "\f3b8";
        font-family: "Font Awesome 5 Brands";
        font-size: 2rem;
        color: #c2c2c2;
        position: absolute;
        top: -3px;
        right: 0; }
    .main-article-pointed {
      margin-left: 1.5rem; }
    .main-article-link:link, .main-article-link:visited {
      color: #48009b;
      text-decoration: none; }

@media only screen and (max-width: 796px) {
  .navbar {
    min-width: 270px; } }
